---
import {getCollection, render} from 'astro:content';
import {SITE_DESCRIPTION, SITE_TITLE} from '../../consts';
import DefaultLayout from '../../layouts/Default.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: {slug: post.data.slug},
    props: {posts: posts},
  }));
}

const {slug} = Astro.params;
const {posts} = Astro.props;
const entry = posts.filter((post) => post.data.slug === slug);
const {Content, headings} = await render(entry);
---
<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>Published on: {entry.data}</p>
  <Content />
</DefaultLayout>
