---
import DefaultLayout from "../layouts/Default.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="card-container container px-sm" style="margin-top: 3rem;">
    {
      // status がpublish の記事のみ表示する
      allPosts.filter((e) => e.frontmatter.status == 'publish').map((post, idx) => {
        return (
          <ArticleCard
            isFirst={idx === 0}
            title={post.frontmatter.title}
            image={post.frontmatter.image}
            createdAt={post.frontmatter.createdAt}
            url={post.url}
            tags={post.frontmatter.tags}
          />
        );
      })
    }
  </section>
</DefaultLayout>

<style>
  .card-container {
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;

    @media screen and (max-width: 768px) {
      gap: 0;
      grid-template-columns: 1fr;
    }
  }
</style>
