---
import {getCollection} from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro';
import {SITE_DESCRIPTION, SITE_TITLE} from '../consts';
import DefaultLayout from '../layouts/Default.astro';

const allBlogsCollection = await getCollection('blog');
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="max-w-screen-md mx-auto flex flex-col min-h-svh">
    {allBlogsCollection.map((blog) => (
        <div class="mt-8">
          <ArticleCard
          title={blog.data.title}
          image={blog.data.image}
          createdAt={blog.data.createdAt}
          url=`/posts/${blog.data.slug}`
          tags={blog.data.tags}
        />
        </div>
      ))}
  </main>
</DefaultLayout>

<style>
  body {
    background-color: #f9f8f7;
  }
</style>
