---
import DefaultLayout from "../layouts/Default.astro";
import ArticleCard from "../components/ArticleCard.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<DefaultLayout>
  <section class="card-container container">
    {
      allPosts.map((post, idx) => {
        return (
          <ArticleCard
            isFirst={idx === 0}
            title={post.frontmatter.title}
            image={post.frontmatter.image}
            createdAt={post.frontmatter.createdAt}
            url={post.url}
            tags={post.frontmatter.tags}
          />
        );
      })
    }
  </section>
</DefaultLayout>

<style>
  .card-container {
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
  }
</style>
