---
import { getCollection } from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro';
import {SITE_DESCRIPTION, SITE_TITLE} from '../consts';
import DefaultLayout from '../layouts/Default.astro';

const allBlogsCollection = await getCollection('blog');
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section class="card-container container py-md">
      {allBlogsCollection.map((blog) => (
        <ArticleCard
          title={blog.data.title}
          image={blog.data.image}
          createdAt={blog.data.createdAt}
          url={`/posts/${blog.data.slug}`}
          tags={[]}
        />
      ))}
    </section>
  </main>
</DefaultLayout>

<style>
  body {
    background-color: #f9f8f7;
  }

  .card-container {
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;

    @media screen and (max-width: 768px) {
      gap: 0;
      grid-template-columns: 1fr;
    }
  }
</style>
