---
interface Props {
  title: string;
  image: string;
  createdAt: string;
  url: string | undefined;
  tags: string[];
  isFirst: boolean;
}

const { title, image, createdAt, url, tags, isFirst } = Astro.props;
---

<div class="item">
  <a href={url}>
    <img src={image} alt={title} />
  </a>
  <div class="px-sm pt-md pb-sm">
    <a href={url}>
      <h2 class="bold">{title}</h2>
    </a>
  </div>
  <div class="flex flex-row justify-between px-sm">
    <div class="flex flex-row">
      {
        tags.map((tag) => (
          <div class="px-sm">
            <a href={`/tags/${tag}`}>
              <span class="tag text-md pointer">#{tag}</span>
            </a>
          </div>
        ))
      }
    </div>
    <p class="text-sm text-right">
      {createdAt.slice(0, 10).replaceAll("-", "/")}
    </p>
  </div>
</div>

<style>
  .item:first-child {
    grid-column: 1 / -1;
  }
  .item:nth-child(n + 4) {
    grid-row: 2;
  }
  .card {
    display: grid;
    grid-template-rows: subgrid;
  }

  .col-12 {
    grid-area: 1/4 / auto/span 12;
  }

  .col-4 {
    grid-column: span 4;
    grid-row: span 12;
  }

  img {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 0.5rem;
  }

  h2:hover {
    color: #67b7b2;
  }

  .tag {
    color: #585a63;
  }

  .tag:hover {
    color: #5bbee5;
  }
</style>
