---
import BodyBottomScript from '../components/BodyBottomScript.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import {SITE_URL} from '../consts';
import '../styles/base.css';

interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-P2LKPC2K');
    </script>
    <title>{title}</title>
    <meta name="description" property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={SITE_URL} />
    <meta property="og:locale" content="ja_JP" />
    <meta data-hid="og:type" property="og:type" content="website" />
  </head>
  <body class="bg-background">
    <Header />
    <slot />
    <Footer />
    <BodyBottomScript />
  </body>
</html>

<style is:global>
  main {
    min-height: calc(100vh - 3rem);
  }
</style>
