---
import DefaultLayout from './Default.astro'
interface Props {
  frontmatter : {
    title : string;
    description : string;
    createdAt : string;
    tags : string[];
  };
}

const {frontmatter} = Astro.props
---

<DefaultLayout title={frontmatter.title} description={frontmatter.description}>
  <main>
    <h1 class="mt-md">{frontmatter.title}</h1>
    <p class="mt-sm">{frontmatter.createdAt}</p>
    <div class="flex flex-row mt-sm">
      {frontmatter.tags.map((tag : string) => {
        return <a class="tag" href={`/tags/${tag}`}>{tag}</a>
      })}
    </div>
    <article class="markdown-body pt-md">
      <slot />
    </article>
  </main>
</DefaultLayout>

<style>
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2;
  }

  .tag {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #c1c1c1;
    border-radius: 3px;
    color: #5c5c5c;
    cursor: pointer;
  }

  .tag:hover {
    background-color: #fafafa;
  }
</style>

<!-- Markdown にスタイルを当てるのはglobal で書く必要がある -->
<style global>
  .markdown-body h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .markdown-body h3 {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .markdown-body h4 {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .markdown-body p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .markdown-body a {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #0094C6;
    cursor: pointer;
  }

  .markdown-body a:hover {
    text-decoration-color: #0094C6;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  .markdown-body img {
    margin-top: 1rem;
    height: auto;
    object-fit: contain;
  }
</style>
